@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Silkscreen:wght@400;700&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Megrim&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Silkscreen:wght@400;700&family=Tektur:wght@400..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1319;
  --foreground: #ededed;
  --cards: #151b22;
  --formLabel: #9b9b9b;
  --formFieldBorder: #46b4ae;
  --formContainerBack: black;
}

/* 
  --background: #aea5d1;
  --foreground: #AEA5D1;
  --cards: #222;
  --formLabel: #1e1b1332;
  --formFieldBorder: #AEA5D1;
  --form-background: #d4bbd1;
*/

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;
  }
} */

body {
  margin:0;
  padding:0;
  height: auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.profile-grid-container {
  @apply flex flex-col justify-center items-center h-[100vh] w-[100%];
  /* background: url(../../public/images/724282.jpg); */
  /* background-size: cover; */
  /* background-position: center; */

}

.profile-grid {
  display: grid;
  grid-template-areas:
    "user-info bar-chart"
    "user-info bar-chart"
    "test-game-result bar-chart"
    "test-game-result xp-line-chart"
    "audit-ratio xp-line-chart";
  grid-template-columns: 0.8fr 1fr;
  transform: scale(0.95);
  gap: 15px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.card {
  background: var(--cards);
  box-shadow: rgba(102, 252, 241, 0.15) 0px 0px 20px 15px;
}

.game-result {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 10px;
  padding-bottom: 0;
  margin-top: 30px;
}

.user-info {
  grid-area: user-info;
  background: var(--cards);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info h1 {
  font-size: 2.1em;
  margin-bottom: 0.4em;
  margin-left: 0.4em;
}

.user-info p {
  font-size: 1.2em;
}

.test-game-result {
  grid-area: test-game-result;
  background: var(--cards);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test-game-result p {
  font-size: 0.9em;
}

.toad-subtopic {
  font-size: 1.5em;
}

.audit-ratio {
  grid-area: audit-ratio;
  background: var(--cards);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-left: 0.5em;
  font-size: 1.8em;
  color: #46b4ae;
}

.bar-chart {
  grid-area: bar-chart;
  background: var(--cards);
  padding: 20px;
  border-radius: 12px;
}

.xp-line-chart {
  grid-area: xp-line-chart;
  background: var(--cards);
  padding: 20px;
  border-radius: 12px;
}

.btn {
  /* border: 2px solid #46b4ae; */
  overflow: hidden;
  position: relative;
  @apply py-3 px-[3em] rounded-full;
  box-shadow: 0.2em 0.5em 0.7em 0.1em rgba(102, 252, 241, 0.3);

  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
  }
}

.form-title {
  @apply font-title text-[3em];
  color: rgb(102, 252, 241);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(102, 252, 241), 0 0 5px black;
}

.btn:hover {
  transform: translateY(-0.2em);
  transition: linear 0.1s;

  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.form-container {
  background-color: var(--formContainerBack);
  /* border: rgb(102, 252, 241) 2px solid; */
  /* box-shadow: rgba(102, 252, 241, 0.56) 0px 30px 80px 0px; */
  box-shadow: rgba(102, 252, 241, 0.45) 0px 7px 70px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  @apply font-mono;
  letter-spacing: 0.7px;
  width: 18em;
  border: 0;
  border-bottom: 2px solid var(--formFieldBorder);
  outline: 0;
  font-size: 1em;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 1rem;
  @apply font-text;
  letter-spacing: 0.7px;
  cursor: text;
  top: 22px;
}

.form__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--formLabel);
  @apply font-text;
  letter-spacing: 0.7px;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--formFieldBorder));
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: -5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--formLabel);
}

/* Reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.logoutIcon {
  background: #46b4ae;
  height: fit-content;
  width: fit-content;
  padding: 6px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: start;
  width: 45px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logoutIcon:hover {
  background: #46b4af7a;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingText {
  @apply font-title;
  font-size: 3em;
  color: rgb(102, 252, 241);
}

@media(max-width: 1024px) {
  .profile-grid {
    grid-template-areas:
      "user-info test-game-result"
      /* "test-game-result" */
      "bar-chart bar-chart"
      "xp-line-chart xp-line-chart"
      "audit-ratio audit-ratio";
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .game-result {
    margin-top: 40px;
  }

  .profile-grid-container {
    height: auto;
  }

  .user-info h1 {
    font-size: 1.8em;
  }

  .user-info p {
    font-size: 1em;
  }
}

@media(max-width: 844px) {
  .user-info h1 {
    font-size: 1.6em;
  }

  .user-info p {
    font-size: 1em;
  }

  .user-info span {
    font-size: 0.9em;
  }

  .game-result {
    margin-top: 40px;
  }
}

@media(max-width: 794px) {
  .test-game-result p {
    font-size: 0.8em;
  } 
  .user-info h1 {
    font-size: 1.4em;
  }

  .user-info p {
    font-size: 1em;
  }

  .user-info span {
    font-size: 0.9em;
  }
}

@media(max-width: 748px) {
  .test-game-result p {
    font-size: 0.8em;
  } 
  .user-info p {
    font-size: 1em;
  }

  .user-info span {
    font-size: 0.8em;
  }
}


@media (max-width: 716px) {
  .user-info h1 {
    font-size: 1.4em;
  }

  .user-info p {
    font-size: 0.8em;
  }

  .user-info span {
    font-size: 0.8em;
  }

  .game-result {
    margin-top: 40px;
  }
}

@media (max-width: 675px) {
  .user-info h1 {
    font-size: 1.4em;
  }

  .user-info p {
    font-size: 0.8em;
  }

  .user-info span {
    font-size: 0.8em;
  }

  .game-result {
    margin-top: 2.3em;
  }

  .memoryGame h2 {
    font-size: 1em;
  }
  .memoryGame p {
    font-size: 0.7em;
  }

  .zzleGame h2 {
    font-size: 1em;
  }
  .zzleGame p {
    font-size: 0.7em;
  }
  
}

@media (max-width: 638px) {
  .profile-grid {
    grid-template-areas:
      "user-info"
      "test-game-result"
      "bar-chart"
      "xp-line-chart"
      "audit-ratio";
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .welcome-logout {
    gap: 20px;
    flex-direction: row-reverse;
  }

  .form-container {
    padding-right: 2em;
    padding-left: 2em;
  }

  .form-title {
    font-size: 2.5em;
  }

  .user-info {
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
  }

  .user-info h1 {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
}

@media (max-width:490px) {
  .form-container {
    padding-left: 1em;
    padding-right: 1em;
  }

  .form-title {
    font-size: 1.7em;
    margin-right: 0.8em;
    margin-left: 0.8em;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 0.9em;
  }
}